@font-face {
    font-family: "Boldonse";
    src: url(../Assets/Boldonse-Regular.ttf) format("truetype");
}

html {
    background-color: black;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

video {
    position: fixed;
    padding-top: 7%;
    padding-bottom: 2%;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
    z-index: 1;
}

.maincontainer {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    align-items: center;
    text-align: center;
    white-space: nowrap;

    h1,
    a {
        font-family: Boldonse;
        color: beige;
        font-size: 275%;
    }

    a {
        text-decoration: none;
        margin-top: 15%; 
        position: absolute; 
        transform: translate(-50%, -50%);
    }


    .cal {
        color: rgb(99, 221, 252);
        animation: rainbow 2s steps(36) infinite;
        z-index: 0;
    }
}

@keyframes rainbow {
    from {
        filter: hue-rotate(10deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}
