@font-face {
    font-family: "Boldonse";
    src: url(../Assets/Boldonse-Regular.ttf) format("truetype");
}

html {
    background-color: black
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

video {
    position: absolute;
    height: 200px;
    left: 50%;
    top: 200px;
    transform: translate(-50%, -50%);
}

.maincontainer {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    align-items: center;
    text-align: center;
    white-space : nowrap;
    h1 {
        font-family: Boldonse;
        color: beige;
    }

    .cal {
        color: rgb(99, 221, 252);
        animation: rainbow 2s steps(36) infinite;
        z-index: 0;
    }
}

@keyframes rainbow {
   from { filter:hue-rotate(10deg); }
     to { filter:hue-rotate(360deg); }
}

@keyframes rainbow {
 from {
    filter:hue-rotate(10deg);
            filter:hue-rotate(10deg);
    }
  to {
    filter:hue-rotate(360deg);
            filter:hue-rotate(360deg);
    }
}