@font-face {
    font-family: "Boldonse";
    src: url(../Assets/Boldonse-Regular.ttf) format("truetype");
}

html {
    background-color: black
}


.logo {
    height: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 300px;
}

.lienheader {
    text-decoration: none;
    font-family: Boldonse;
    color: beige;
}

.containerlienh {
    position: fixed;
    right: 15%;
}

.header {
    top: 0;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
}

.PDP {
    max-width: 25%;
    right: 10%;
    position: fixed;
    border-radius: 10px;
}

.fcontainer {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.titles h1{
    font-family: Boldonse;
    color: beige;
}

.cal {
    color: rgb(99, 221, 252);
  animation: rainbow 2s steps(36) infinite;
}

@keyframes rainbow {
   from { filter:hue-rotate(10deg); }
     to { filter:hue-rotate(360deg); }
}

@keyframes rainbow {
 from {
    filter:hue-rotate(10deg);
            filter:hue-rotate(10deg);
    }
  to {
    filter:hue-rotate(360deg);
            filter:hue-rotate(360deg);
    }
}